{% extends "base.html" %}

{% block content %}
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>License Number</th>
            <th>Email</th>
        </tr>
        {% for driver in object_list %}
            <tr>
                <td>{{ driver.id }}</td>
                <td>
                    <a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.username }}</a>
                </td>
                <td>{{ driver.license_number }}</td>
                <td>{{ driver.email }}</td>
            </tr>
        {% empty %}
            <tr><td>No drivers found.</td></tr>
        {% endfor %}
    </table>
{% endblock %}
