{% extends "base.html" %}

{% block content %}
    <h1>Driver: {{ object.username }}</h1>
    <p>License number: {{ object.license_number }}</p>
    <p>Email: {{ object.email }}</p>

    <h2>Cars</h2>
    <ul>
        {% for car in object.cars.all %}
            <li>
                {{ car.model }} - {{ car.manufacturer.name }}
                {{ car.manufacurer.country }}
            </li>
        {% empty %}
            <li>No cars for this driver.</li>
        {% endfor %}
    </ul>
{% endblock %}
